#overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  visibility: hidden;
  opacity: 0;
  z-index: 98;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

#overlay.active {
  visibility: visible;
  opacity: 1;

  @media screen and (min-width: 725px) {
    visibility: hidden;
    opacity: 0;
  }
}
