.hero {
  &__content {
    text-align: center;

    @media screen and (min-width: 900px) {
      text-align: left;
      place-items: center;
      min-height: 650px;
    }
  }

  &__img-area {
    @media screen and (min-width: 900px) {
      grid-column: 2 / 3;
    }

    &::after {
      content: '';
      width: 115%;
      height: 32%;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(-43deg) translateY(100px) translateX(50px);
      border-radius: em(180) 0 0 em(180);
      z-index: -1;
      background: $BrightRed;
      opacity: 0.1;

      @media screen and (min-width: 900px) {
        width: 60%;
        height: 45%;
        transform: rotate(-48deg) translateY(180px);
      }
    }

    img {
      width: 100%;
    }
  }

  &__text-area {
    padding-bottom: rem(20);

    @media screen and (min-width: 900px) {
      grid-row: 1;
    }

    p {
      margin: rem(15) 0 rem(35);
    }

    a {
      padding: em(11) em(35);
    }
  }
}
