.hero {
  &__content {
    text-align: center;

    @media screen and (min-width: 900px) {
      text-align: left;
      place-items: center;
      min-height: 650px;
    }
  }

  &__img-area {
    position: relative;
    max-width: 500px;
    margin: auto;

    @media screen and (min-width: 900px) {
      grid-column: 2 / 3;
      max-width: unset;
    }

    &::after {
      content: '';
      width: 115vw;
      height: 70%;
      position: absolute;
      top: 0;
      left: -50px;
      transform: rotate(-40deg) translateX(66px) translateY(33px);
      border-radius: 11.25em 0 0 11.25em;
      z-index: -1;
      background: #f25f3a;
      opacity: 0.1;

      @media screen and (min-width: 900px) {
        width: 60vw;
        height: 320px;
        transform: rotate(-40deg) translateX(80px) translateY(0);
      }
    }

    img {
      width: 100%;
    }
  }

  &__text-area {
    padding-bottom: rem(20);

    @media screen and (min-width: 900px) {
      grid-row: 1;
    }

    p {
      margin: rem(15) auto rem(35);
      max-width: 51ch;

      @media screen and (min-width: 900px) {
        margin: rem(30) 0 rem(45);
      }
    }

    a {
      padding: em(11) em(35);
    }
  }
}
