*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  position: relative;
}

html.no-scrow {
  overflow: hidden;
}

.primary-title {
  font-size: clamp(2.25rem, 5.5vw, 3.75rem);
  font-weight: 700;
  color: #1d1e25;
  line-height: 1.2;
}

.secondary-title {
  font-size: 1.9375rem;
  font-weight: 700;
  color: #1d1e25;
  line-height: 1.4;
}

.tertiary-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1d1e25;
  line-height: 1.2;
}

.primary-paragraph {
  color: #9095a7;
  font-size: clamp(0.9375rem, 5vw, 1.0625rem);
  line-height: 1.7;
}

.padding-container {
  padding: 0 calc((100vw - 1275px) / 2);
  margin: 0 25px;
}

.margin-container {
  max-width: 1275px;
  margin: auto;
  padding: 0 25px;
}

.grid1x1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
}

@media screen and (min-width: 900px) {
  .grid1x1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .grid1x1 {
    gap: 40px;
  }
}

.primary-btn {
  color: white;
  background: #f25f3a;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 1.875em;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.primary-btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.header__content {
  padding-top: 35px;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header #header-logo {
  margin-top: 7px;
}

.header__mobile-toggler {
  display: block;
  cursor: pointer;
  z-index: 99;
}

@media screen and (min-width: 725px) {
  .header__mobile-toggler {
    display: none;
  }
}

.header__mobile-toggler.active .header__toggler-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(11px);
          transform: rotate(45deg) translateY(11px);
}

.header__mobile-toggler.active .header__toggler-bar:nth-child(2) {
  opacity: 0;
}

.header__mobile-toggler.active .header__toggler-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-11px);
          transform: rotate(-45deg) translateY(-11px);
}

.header__toggler-bar {
  width: 30px;
  height: 4px;
  display: block;
  background: #1d1e25;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.header__toggler-bar:nth-child(2) {
  margin: 4px 0;
}

.header__navigation {
  background: white;
  position: absolute;
  width: 100%;
  top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.875rem;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

@media screen and (min-width: 725px) {
  .header__navigation {
    position: unset;
    visibility: visible;
    opacity: 1;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    width: unset;
  }
}

.header__navigation.active {
  visibility: visible;
  opacity: 1;
}

.header__nav-link {
  text-decoration: none;
  color: #1d1e25;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.0625rem;
}

.header__nav-link:hover {
  text-decoration: underline;
  font-size: 1.125rem;
}

@media screen and (min-width: 725px) {
  .header__nav-link {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
  }
  .header__nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #1d1e25;
    position: absolute;
    bottom: -5px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }
  .header__nav-link:hover {
    text-decoration: unset;
    font-size: 1rem;
  }
  .header__nav-link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header__nav-link + .header__nav-link {
  margin-top: 1.125rem;
}

@media screen and (min-width: 725px) {
  .header__nav-link + .header__nav-link {
    margin: 0 0 0 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .header__nav-link + .header__nav-link {
    margin-left: 2.25rem;
  }
}

.header__button {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.6875em 2.1875em;
  }
}

#overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  visibility: hidden;
  opacity: 0;
  z-index: 98;
  -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 725px) {
  #overlay.active {
    visibility: hidden;
    opacity: 0;
  }
}

.hero__content {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .hero__content {
    text-align: left;
    place-items: center;
    min-height: 650px;
  }
}

.hero__img-area {
  position: relative;
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .hero__img-area {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    max-width: unset;
  }
}

.hero__img-area::after {
  content: '';
  width: 115vw;
  height: 70%;
  position: absolute;
  top: 0;
  left: -50px;
  -webkit-transform: rotate(-40deg) translateX(66px) translateY(33px);
          transform: rotate(-40deg) translateX(66px) translateY(33px);
  border-radius: 11.25em 0 0 11.25em;
  z-index: -1;
  background: #f25f3a;
  opacity: 0.1;
}

@media screen and (min-width: 900px) {
  .hero__img-area::after {
    width: 60vw;
    height: 320px;
    -webkit-transform: rotate(-40deg) translateX(80px) translateY(0);
            transform: rotate(-40deg) translateX(80px) translateY(0);
  }
}

.hero__img-area img {
  width: 100%;
}

.hero__text-area {
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 900px) {
  .hero__text-area {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.hero__text-area p {
  margin: 0.9375rem auto 2.1875rem;
  max-width: 51ch;
}

@media screen and (min-width: 900px) {
  .hero__text-area p {
    margin: 1.875rem 0 2.8125rem;
  }
}

.hero__text-area a {
  padding: 0.6875em 2.1875em;
}

.features {
  margin: 5rem 0;
}

.features__content {
  margin: 0 10px 0 20px;
  text-align: center;
}

.features__content h2 {
  max-width: 15ch;
  margin: auto;
}

.features__description {
  margin: 0.9375rem auto 0;
  max-width: 31ch;
}

.features__list {
  list-style: none;
  counter-reset: feature;
  text-align: left;
}

.features__feature {
  counter-increment: feature;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.125rem;
  position: relative;
}

.features__feature::before {
  content: "0" counter(feature);
  background: #f25f3a;
  color: white;
  border-radius: 1.25em;
  width: 3.75rem;
  height: 2.3125rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.features__feature::after {
  content: '';
  position: absolute;
  background: #f25f3a;
  opacity: 0.1;
  z-index: -1;
  left: 0;
  width: 100vw;
  height: 2.3125rem;
  top: 0;
  border-radius: 1.25em 0 0 1.25em;
}

.features__feature p {
  display: block;
  margin-top: 0.625rem;
}
/*# sourceMappingURL=index.css.map */